@charset "UTF-8";
@font-face {
  font-family: "bebas";
  src: url("../fonts/bebas.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avant";
  src: url("../fonts/AvantGardeGothicC-Demi.otf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
}

.header {
  max-width: 1450px;
  padding: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.header-title {
  background-color: #ac86b6;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  color: #fff;
  margin-top: -18%;
  position: relative;
}

.header-title h1 {
  position: absolute;
  padding: 78% 20% 0;
  font-size: 47px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-weight: 100;
  font-family: "bebas";
  color: #fbfafb;
  line-height: 1.014;
  text-align: center;
}

.header-logo {
  width: 400px;
  text-align: center;
}

.header-logo img {
  padding: 30px 40px 37px;
}

.header-logo div {
  font-size: 25px;
  font-family: "bebas";
  color: #726f74;
  text-align: center;
}

.header-phone {
  padding: 30px 0 0;
}

.header-phone a {
  padding: 20px 20px 0 0;
  font-size: 30px;
  font-weight: 800;
  font-family: "Avant";
  color: #ac86b6;
  line-height: 1.014;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav {
  margin: 0 auto;
}

.header_list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header-burger {
  display: none;
}

.header_list a {
  font-size: 16.667px;
  font-family: "Avant";
  color: #726f74;
  text-decoration: none;
}

.header_list a:hover {
  color: #726f74;
  font-weight: 800;
}

.onepage-pagination {
  position: absolute;
  right: 17%;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.onepage-pagination li a:before {
  width: 13px;
  height: 13px;
  display: block;
  margin-bottom: 10px;
  border: solid 1px #726f74;
  background-color: transparent;
  border-style: solid;
  border-radius: 50%;
}

.onepage-pagination li a.active:before {
  width: 15px;
  height: 15px;
  background-color: #785d86;
  margin-top: 0;
  left: 9px;
  border: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-main {
  background-image: url("../img/bagraund-img.jpg");
  height: 100%;
}

.section-main .title-b {
  padding: 20px 15px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-main .title-b div {
  font-size: 38px;
  padding: 0 11% 0 0;
  font-family: "bebas";
  color: #9c80c0;
  text-transform: uppercase;
}

.section-main .title-b .btn {
  font-size: 25px;
  font-family: "bebas";
  background-color: #f8d90c;
  border-radius: 5px;
  padding: 10px 20px;
  height: 50px;
}

.section-main .title-b .btn a {
  color: #6211c9;
}

.section-img {
  padding: 50px 0 0;
  margin: 0 auto;
  max-width: 700px;
}

button {
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

hr {
  background-color: #313032;
  margin: 0 auto;
  width: 29px;
  height: 1px;
  border: none;
}

.section-our_work {
  background-color: #fdfdfd;
}

.section-our_work .row {
  padding: 33px 0;
}

.section-our_work .slider__item {
  position: relative;
}

.section-our_work .slider_title {
  top: 30%;
  padding: 20px;
  left: 38%;
  font-family: "Avant";
  background-color: #dbcde9;
  position: absolute;
  max-width: 200px;
}

.section-our_work .slider_title div {
  color: #3e2741;
  font-size: 19px;
}

.section-our_work .slider_title a {
  font-size: 25px;
  color: #d09f08;
}

.section-our_work .slider__item img {
  padding: 0 30px 30px 0;
}

h1 {
  font-size: 33px;
  padding: 36px 0 20px;
  color: #726f74;
}

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0px 60px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  display: none;
  left: 0;
}

.slider .slick-arrow.slick-next {
  display: none;
  right: 0;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #785d86;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #785d86;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
  text-align: center;
}

.section-slic_slider {
  background-color: #dbcde9;
  max-height: 520px;
}

.section-slic_slider .slider_master {
  height: 520px;
  margin: 0 auto;
}

.section-slic_slider .slider_master h1 {
  padding: 10px 0;
}

.section-slic_slider .slider_master .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-slic_slider .slider_master .slick-list {
  height: 520px;
  position: relative;
}

.section-slic_slider .slider_master .slick-dots {
  position: absolute;
  top: 86%;
  left: 50%;
}

.section-slic_slider .slider__item h2 {
  font-size: 37px;
  font-family: "AvantGardeGothicC";
  color: #521d61;
}

.section-slic_slider .slider__item img {
  max-width: 305px;
  max-height: 372px;
}

.slide-info {
  background-color: #f0e2fa;
  width: 800px;
  height: 520px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.slider-title {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
}

.doc div {
  background-color: #deccea;
  max-width: 380px;
  font-size: 16px;
  text-align: left;
  text-align: justify;
  font-family: "AvantGardeGothicC";
  color: #313032;
  line-height: 1.5;
  padding: 17px;
  margin-left: -20px;
}

.section-prics .tab-btn {
  background: #dcd1f1;
}

.section-prics .btn-tab-active {
  background: #a988c8;
}

.section-prics .table-dark-alt th {
  background-color: #a988c8;
  color: white;
}

.section-prics .table-dark-alt,
.section-prics .table-dark-alt > th {
  background: #dcd1f1;
}

.section-recording .recording {
  max-width: 410px;
  margin: 0 auto;
  padding: 30px 0;
}

.section-recording .recording input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #c7c6c7;
  margin: 20px 0;
  width: 100%;
  font-size: 16.667px;
  font-family: "BaskervilleLight";
}

.time-section input {
  border: none;
}

.time-section div {
  font-size: 13px;
  font-family: "Avant";
  color: #726f74;
  line-height: 2;
  text-align: center;
}

.time-section .btn-cats {
  font-size: 29px;
  font-family: "BebasNeueCyrillic";
  color: #faf8fb;
  background-color: #9c80c0;
  text-align: center;
  padding: 0 65px;
  width: 100%;
}

.input-group-addon {
  background: none;
  border: none;
}

.input-group input {
  height: 20px;
}

.about-us {
  background-image: url("../img/bg-imga.jpg");
  background-repeat: no-repeat;
  height: 500;
  color: #fbf9fd;
}

.about-us h1 {
  font-size: 33px;
  color: #fbf9fd;
  font-family: "BaskervilleLight";
}

.about-us hr {
  background-color: #fff;
}

.about-us div {
  font-size: 15px;
  padding: 5px 15px;
  text-align: justify;
  max-width: 764px;
  line-height: 2;
}

@media (min-width: 1440px) {
  nav.dot-vrt-nav {
    left: 79%;
  }
}

@media (max-width: 768px) {
  .header-body {
    height: 50px;
  }
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
    -webkit-transition: all 0.3s else 0s;
    transition: all 0.3s else 0s;
  }
  .header-burger::after,
  .header-burger::before {
    content: "";
    background-color: #726f74;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s else 0s;
    transition: all 0.3s else 0s;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger span {
    background-color: #726f74;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu-nav {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #e1d5ec;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 70px 10px 20px 20px;
  }
  .menu-nav.active {
    top: 0;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin: 0 0 20px 0;
  }
  .slider {
    padding: 0px 40px;
  }
}
/*# sourceMappingURL=style.css.map */